@model SaveMeProject.Models.ReportAbuser
@{
    ViewBag.Title = "Create";
}

@*Form Header*@
<h1 class="text-center text-uppercase" style="font-size:60px; letter-spacing:3px;">Animal Cruelty Report Form</h1>
<p class="text-center" style="font-size:medium">If you witness any form of animal cruelty, please fill out the form below.</p>
<p class="text-center"style="font-size:medium">If you see an animal in distress who needs immediate help please call 911 or local police.</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*Topic Dropdown Menu*@
        <h3><strong>Start Report Here</strong></h3>

        <div class="form-group" id="section1">
            <br />
            <div class="form-group">
                <h5 style="color:#B12724;">* denotes a field that must be filled</h5>
                @Html.LabelFor(model => model.Topic, htmlAttributes: new { @class = "control-label col-md-2", id = "dropdown" })
                <div class="col-md-10" style="padding-left:0px;">
                    @Html.DropDownListFor(model => model.Topic, new List<SelectListItem>
               {
               new SelectListItem { Text = "Select", Value = "Select" },
                    new SelectListItem { Text = "Cruelty/Neglect", Value = "Cruelty/Neglect" },
                    new SelectListItem { Text = "Other Complaint", Value = "Other Complaint" },
               }, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Topic, "*", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @*DateTime Automatic Fill In*@
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2", id = "dropdown" })
                <div class="col-md-10" style="padding-left:0px;">
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control",@readonly="readonly", @Value = DateTime.Now.ToString("MM/dd/yyyy hh:mm tt")} })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    <br />
                </div>
            </div>
        </div>



        @*Abuse checkbox area*@
        <h3><strong>Abuse Details</strong></h3>
        <h4>Select all that apply.</h4>
        <div class="form-group" id="section2">
            <div class="form-group">
                <div class="col-md-3">
                    <div class="funkyradio">
                        <div class="funkyradio-warning">
                            @Html.EditorFor(model => model.Food, new { type = "checkbox", name = "checkbox", id = "checkbox5" })
                            <label for="checkbox5">
                                @Html.LabelFor(model => model.Food, htmlAttributes: new { @class = "control-label col-md-2" })
                            </label>
                            @Html.ValidationMessageFor(model => model.Food, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="funkyradio">
                        <div class="funkyradio-warning">
                            @Html.EditorFor(model => model.Shelter, new { type = "checkbox", name = "checkbox", id = "checkbox5" })
                            <label for="checkbox5">
                                @Html.LabelFor(model => model.Shelter, htmlAttributes: new { @class = "control-label col-md-2" })
                            </label>
                            @Html.ValidationMessageFor(model => model.Shelter, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="funkyradio">
                        <div class="funkyradio-warning">
                            @Html.EditorFor(model => model.Abandoned, new { type = "checkbox", name = "checkbox", id = "checkbox5" })
                            <label for="checkbox5">
                                @Html.LabelFor(model => model.Abandoned, htmlAttributes: new { @class = "control-label col-md-2" })
                            </label>
                            @Html.ValidationMessageFor(model => model.Abandoned, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="funkyradio">
                        <div class="funkyradio-warning">
                            @Html.EditorFor(model => model.Poisoned, new { type = "checkbox", name = "checkbox", id = "checkbox5" })
                            <label for="checkbox5">
                                @Html.LabelFor(model => model.Poisoned, htmlAttributes: new { @class = "control-label col-md-2" })
                            </label>
                            @Html.ValidationMessageFor(model => model.Poisoned, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <div class="funkyradio">
                        <div class="funkyradio-warning">
                            @Html.EditorFor(model => model.Underweight, new { type = "checkbox", name = "checkbox", id = "checkbox5" })
                            <label for="checkbox5">
                                @Html.LabelFor(model => model.Underweight, htmlAttributes: new { @class = "control-label col-md-2" })
                            </label>
                            @Html.ValidationMessageFor(model => model.Underweight, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="funkyradio">
                        <div class="funkyradio-warning">
                            @Html.EditorFor(model => model.Trapping, new { type = "checkbox", name = "checkbox", id = "checkbox5" })
                            <label for="checkbox5">
                                @Html.LabelFor(model => model.Trapping, htmlAttributes: new { @class = "control-label col-md-2" })
                            </label>
                            @Html.ValidationMessageFor(model => model.Trapping, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="funkyradio">
                        <div class="funkyradio-warning">
                            @Html.EditorFor(model => model.Water, new { type = "checkbox", name = "checkbox", id = "checkbox5" })
                            <label for="checkbox5">
                                @Html.LabelFor(model => model.Water, htmlAttributes: new { @class = "control-label col-md-2" })
                            </label>
                            @Html.ValidationMessageFor(model => model.Water, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="funkyradio">
                        <div class="funkyradio-warning">
                            @Html.EditorFor(model => model.Shot, new { type = "checkbox", name = "checkbox", id = "checkbox5" })
                            <label for="checkbox5">
                                @Html.LabelFor(model => model.Shot, htmlAttributes: new { @class = "control-label col-md-2" })
                            </label>
                            @Html.ValidationMessageFor(model => model.Shot, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <div class="funkyradio">
                        <div class="funkyradio-warning">
                            @Html.EditorFor(model => model.Injury, new { type = "checkbox", name = "checkbox", id = "checkbox5" })
                            <label for="checkbox5">
                                @Html.LabelFor(model => model.Injury, htmlAttributes: new { @class = "control-label col-md-2" })
                            </label>
                            @Html.ValidationMessageFor(model => model.Injury, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="funkyradio">
                        <div class="funkyradio-warning">
                            @Html.EditorFor(model => model.Abuse, new { type = "checkbox", name = "checkbox", id = "checkbox5" })
                            <label for="checkbox5">
                                @Html.LabelFor(model => model.Abuse, htmlAttributes: new { @class = "control-label col-md-2" })
                            </label>
                            @Html.ValidationMessageFor(model => model.Abuse, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="funkyradio">
                        <div class="funkyradio-warning">
                            @Html.EditorFor(model => model.Other, new { type = "checkbox", name = "checkbox", id = "checkbox5" })
                            <label for="checkbox5">
                                @Html.LabelFor(model => model.Other, htmlAttributes: new { @class = "control-label col-md-2", type = "checkbox", name = "mycheckbox", id = "mycheckbox", value = "0" })
                            </label>
                            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Explain.....">
                            @Html.ValidationMessageFor(model => model.Other, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @*End of abuse checkbox area ^^*@


        @*Button for map location recording*@
        <h3><strong>Property & Abuser Description</strong></h3>
        <div class="form-group" id="section3">

            <p style="font-size:medium;">Click the "Record Location" button below to save location of abuse.</p>

            <button type="button" class="btn btn-primary" onclick="Javascript:SetTextBoxValue()" id="btnChg">
                Record Location
            </button>
            <br /><br />
        
            <div id="map_canvas" style="height: 200px; width: 500px;" ></div>

            <label id="txtCon" style="color:#ff0000; font-size:18px;"></label>

            <form class="form-inline">
                <label class="sr-only" for="inlineFormInput">Address</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Enter Address Here">
                <br />
            </form>

            @*Text boxes for Abuser and Property Description*@

            <h5 style="color:#B12724;">* denotes a field that must be filled</h5>
            @Html.LabelFor(model => model.PropertyDescription, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.PropertyDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Provide additional details here." } })
                @Html.ValidationMessageFor(model => model.PropertyDescription, "*", new { @class = "text-danger" })
                <br />
            </div>

            @Html.LabelFor(model => model.AbuseDetails, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AbuseDetails, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ex. 2 Dogs, 3 Cats." } })
                @Html.ValidationMessageFor(model => model.AbuseDetails, "*", new { @class = "text-danger" })
                <br />
            </div>

            @Html.LabelFor(model => model.AbuserDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AbuserDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Physical attributes, age, etc." } })
                @Html.ValidationMessageFor(model => model.AbuserDescription, "", new { @class = "text-danger" })
                <br />
            </div>



            @Html.LabelFor(model => model.OwnerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OwnerName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name (Last Name)" } })
                @Html.ValidationMessageFor(model => model.OwnerName, "", new { @class = "text-danger" })
                <br />
            </div>
        </div>
        @*end of Text boxes for Abuser and Property Description ^^*@

        @*Contact Information section*@
        <h3><strong>Your Information</strong></h3>
        <div class="form-group" id="section4">
            <br />
            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name, Last Name" } })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                <br />
            </div>


            @Html.LabelFor(model => model.ReportEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReportEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "example@address.com" } })
                @Html.ValidationMessageFor(model => model.ReportEmail, "", new { @class = "text-danger" })
                <br />
            </div>


            @Html.LabelFor(model => model.ReportPhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <!--Phone format-->
                @Html.EditorFor(model => model.ReportPhone, new { htmlAttributes = new { @class = "form-control", id = "phone", placeholder = "(XXX) XXX XXXX" } })
                @Html.ValidationMessageFor(model => model.ReportPhone, "", new { @class = "text-danger" })
                <br />
            </div>
            <div class="form-group">

                @Html.LabelFor(model => model.Contact, htmlAttributes: new { @class = "control-label col-md-2", id = "dropdown" })
                <div class="col-md-10" style="padding-left:25px;">
                    @Html.DropDownListFor(model => model.Contact, new List<SelectListItem>()
                {
                          new SelectListItem() { Text = "Yes", Value = "True" },
                             new SelectListItem() { Text = "No", Value = "False"}
                 },

                        "Select.....", new { @id = "Contact", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Contact)
                </div>
            </div>
            <div class="form-group">

                @Html.LabelFor(model => model.Updates, htmlAttributes: new { @class = "control-label col-md-2", id = "dropdown" })
                <div class="col-md-10" style="padding-left:25px;">
                    @Html.DropDownListFor(model => model.Contact, new List<SelectListItem>()
                {
                          new SelectListItem() { Text = "Yes", Value = "True" },
                             new SelectListItem() { Text = "No", Value = "False"}
                 },

                        "Select.....", new { @id = "Contact", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Contact)
                </div>
            </div>
        </div>
        @*end of Contact Information section*@


        @* This is the added parts for google maps and getting the lat and long *@
        <div class="form-group">
            @Html.TextBoxFor(model => model.Latitude, new { id = "txtLat", style = "display: none; " })
            @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.TextBoxFor(model => model.Longitude, new { id = "txtLng", style = "display: none; " })
            @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
        </div>

        @*Submit button*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*JS button confirmation message*@
                <input type="submit" value="Submit Report" class="btn btn-primary btn-lg" id="btnChg2" />
            </div>
        </div>
        @* end Submit button*@

    </div>


}

<div class="row">
    <div class="container">
        <div class="col-md-6">

            @Html.ActionLink("Back to Home", "Index", "Home", new { @class = " btn btn-primary", role = "button", id = "btnChg" })
        </div>

        <!--Start Here-->

        <div class="col-md-6" id="bottomBtns">

            <a href="https://donatenow.networkforgood.org/GeneralDon?code=Donate%20Now%20Drop%20Down" class="btn btn-primary" role="button" target="_blank" id="btnChg"><span class="glyphicon glyphicon-gift"></span>&nbsp;Donate!</a>
            <a href="https://clevelandapl.org/volunteer/foster-care/" class="btn btn-primary" role="button" target="_blank" id="btnChg"><span class="glyphicon glyphicon-home"></span> &nbsp; Foster!</a>
            <a href="https://clevelandapl.org/adopt/" class="btn btn-primary" role="button" target="_blank" id="btnChg"><span class="glyphicon glyphicon-heart-empty"></span>&nbsp; Adopt!</a>
        </div>
    </div>
</div>




@section Scripts {

    @* Google map api *@
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRa9eyYslzo7LNWf7OhxUVY0hAcrw4Qts" type="text/javascript"></script>
    <script src="~/Scripts/googleMaps.js"></script>
    <script src="~/Scripts/jquery.maskedinput.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/PhoneFormat.js"></script>
    <script src="~/Scripts/Site.js"></script>
    @*@Scripts.Render("~/bundles/jqueryval")*@
}