@model SaveMeProject.Models.ReportAbuser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReportAbuser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Food)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shelter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shelter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abandoned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abandoned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poisoned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poisoned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Underweight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Underweight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trapping)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trapping)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Water)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Water)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Injury)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Injury)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abuse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abuse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbuseDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbuseDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbuserDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbuserDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updates)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReportID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
